---
name: Rust CI/CD Test

on: # yamllint disable-line rule:truthy
  push:
    branches: ["main"]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: ["main"]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: "RUST Build and Test"
    strategy:
      fail-fast: false
      matrix:
        os: ["windows-2022", "ubuntu-24.04", "macos-14"]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
